*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial;
 }
 body{
    background-color: #131212;
 }
 .calc{
    width: 430px;
    margin: 100px auto;
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
 }
 .display{
    color: #000000;
    text-align: right;
    font-size: 60px;
    padding: 20px;
    border: 2px solid #ffa45ccc;;
    border-radius: 20px;
 }
 .keypad-table tr:first-child .key{
    background-color: #928d8d;
 }
 .keypad-table tr:first-child .key:active{
    background-color: #a5a5a590;
 }
 .keypad-table tr td:last-child .key{
    background-color: #ffa45c;
 }
 .keypad-table tr td:last-child .key:active{
    background-color: #ffa45ccc;
 }
 .key{
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;
    line-height: 90px;
    border-radius: 90px;
    margin: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
 }

 .key:active{
    background-color: #33333390;
 }
